doctype html
html
    head
        title= title


    body
        block content
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')    
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')